<%- include("partials/header") %>

<div class="container-fluid jumbotron text-center">
    <h1 class="display-4">A Power User's Dashboard</h1>
    <p class="lead">Simple design, elegant functionality.</p>
    <a href="/auth/login"><button class="btn btn-primary">Login</button></a>
</div>

<%- include("partials/footer") %>