<%- include("partials/header", {user: user}) %> 

<div class="container text-center">
    <h1>Please Login With Your Streaming App...</h1>
    <a href="/auth/spotify"><button class="btn btn-primary">Spotify</button></a>
</div>

<%- include("partials/footer") %>